body {
    font-size: 20px;
    font-family: sans-serif;
}

header {
    background-color: rgb(9, 241, 9);
    padding: 15px;
    border: :3px solid#0000FF;
}

 h1{
color: red;
text-align: center;
}

footer {
    background-color: red;

}

.apple {
    background-color: gold;
    margin: 20px;
    padding: 20px;
}
main{
    margin: 40px;
}
